{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SantaRosa</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <!--Agregamos los cdn de bootstrap5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        
        <!--archivos CSS solo para la base-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/botonMenu.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/imagenMenu.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/lineasMenu.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ColorFondoMenu.css' %}">
       
        <!--Estilo para el boton whatsapp-->
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/logoWhatsapp.css' %}">
        

        <!--bloque para archivos CSS-->
        {% block css %}
       
        {% endblock %}
       

</head>
    
        <body style="background: #afcff8;">
            <br><br>
            <p></p>
            <div class="container mt-1">
                <!--Logo o imagen de santa rosa de osos-->
                <div class="row">
                    <div class="col-md-12 rounded-top" style="background:#383e77;">
                      <img class="img-thumbnail rounded-0" src="/static/imagen/santalogo.jpg" width="1300" height="150" style="margin-top: 1rem">
                    </div>
                </div>
        
                <!--Menu de navegacion-->
                <div class="row">
                    
                    <div class="col-md-12 text-white" style="background: #383e77;">
                         <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
                                <div class="container-fluid" >
                                        <button class="navbar-toggler btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                        </button>
                                   <div class="collapse navbar-collapse" id="navbarNav">
                                        <ul class="navbar-nav" style="display: flex;">
                                              <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" href="{% url 'educacion' %}">Educacion Vial</a>
                                              </li>
                                              <li class="nav-item ">
                                                  <a class="nav-link" href="{% url 'tramites' %}">Trámites</a>
                                              </li> 
                                        </ul>
                                            
                                    </div>
                                        <li class="nav-item ms-auto justify-content-start align-items-center d-flex">
                                            <a class="nav-link logo-link text-dark" href="{% url 'admin' %}"> Iniciar Sesion
                                            <img src="/static/imagen/usuarioAdmin.svg">
                                            </a>
                                        </li>
                                </div>  
                            </nav>      
                     </div>            
                </div>            
                                
                <div class="row">
                   <div class="col-md-12 text-white text-center" style="background: #383e77;">
                        <hr>
                   </div>
                
                 </div> 
                 
            </div> 

            <!--bloque para codigo contenido-->
            {% block contenido %}

            {% endblock %}
            
            
            <!--bloque para codigo de java Script-->
            {% block js %}

            {% endblock js %}

            <!--Se agrega en pie de pagina base-->
            <div class="container">
                <div class="row  rounded-bottom text-center text-white" style="background: #383e77;">
                    <div class="col-md-12">
                    <hr>
                    <h6 class="display-7">Alcaldia de Santa Rosa de Osos "Segura, Educada y Competitiva" </h6>
                    </div>
                </div>
            </div>
              <!-- Botón flotante con el logotipo de WhatsApp -->
              <a  href="https://api.whatsapp.com/send?phone=573103527736" class="floating-button" target="_blank">
                <i class="fa fa-whatsapp icono"></i> 
              </a>
  </a>
                    
    </body>
    
</html>