{% extends 'html/base.html' %} <!--llamamo base.html -->

<!--llamamos contenido del body base.html -->
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center" style="background: #383e77;">
                 <h5></h5>
            </div>
        
            <div>
                 <div class="row">
                     <div class="col-md-12" style="background: #383e77;">                          
                         <div class="row">
                               <iframe title="SantaRosa - pagina" width="500" height="1135" src="https://app.powerbi.com/view?r=eyJrIjoiZWU1ZjBkZjktM2IyNy00YzlhLTkyNTktMGE4NWE5Y2I0NWRkIiwidCI6Ijk5ZjdiNTVlLTljYmUtNDY3Yi04MTQzLTkxOTc4MjkxOGFmYiIsImMiOjR9&embedImagePlaceholder=true&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
                          </div>
                      </div>                                  
                 </div>
             </div>
        </div>
    </div>           
{% endblock contenido %}
