{% extends 'html/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/carruselImagen.css' %}">

{% endblock %}


{% block contenido %}

    <div class="container">

        <!--Creamos UN CARRUSE DE IMAGENES-->
        <div class="row" style="background:#383e77;">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/imagen/educacion/colegios.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/static/imagen/educacion/patrulleritos.jpeg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/static/imagen/educacion/patrulleritos1.jpeg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/static/imagen/educacion/patrulleritos2.jpeg" class="d-block w-100" alt="Image 4">
                </div>
                <div class="carousel-item">
                  <img src="/static/imagen/educacion/patrulleritos3.jpeg" class="d-block w-100" alt="Image 5">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
        </div>   

     
        <div class="row" style="background:#383e77">
          <br>
        </div>

        <!--Creamos una tarjeta con imagen, tarjeta 1-->
        <div class="row" style="background:#383e77;">
            
            <div class="col-md-3 mb-3">
                <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                    <div class="card-header bg-secondary text-center ml-2">
                        <strong class="card-title text-light">Patrulleritos</strong>
                    </div> 
                    <img class="card-img-top" src="/static/imagen/educacion/patrulleritos.jpeg" alt="Card image cap" style="width: 100%;">
                    <div class="card-body">                       
                        <p class="card-text">Campaña de seguridad vial con los patrulleritos.</p>
                        <a href="{% url 'patrulleritos'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                    <hr> <!--hr para colocar una linea separadora -->
                    <p class="text-primary text-center" >Ingresar</p>
                    </div>
                </div>
            </div>

            <!--Creamos una tarjeta con imagen, tarjeta 2-->
            <div class="col-md-3 mb-3">
                <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                    <div class="card-header bg-secondary text-center ml-2">
                        <strong class="card-title text-light">Instituciones Educativas</strong>
                    </div> 
                    <img class="card-img-top" src="/static/imagen/educacion/colegios.jpg" alt="Card image cap" style="width: 100%;">
                    <div class="card-body">                       
                        <p class="card-text">Campaña de seguridad vial en las escuelas</p>
                        <a href="{% url 'home'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                    <hr> <!--hr para colocar una linea separadora -->
                    <p class="text-primary text-center" >Ingresar</p>
                    </div>
                </div>
            </div>

            <!--Creamos una tarjeta con imagen, tarjeta 3-->
            <div class="col-md-3 mb-3">
                <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                    <div class="card-header bg-secondary text-center ml-2">
                        <strong class="card-title text-light">Instituciones Educativas</strong>
                    </div> 
                    <img class="card-img-top" src="/static/imagen/educacion/colegios.jpg" alt="Card image cap" style="width: 100%;">
                    <div class="card-body">                       
                        <p class="card-text">Campaña de seguridad vial en las escuelas</p>
                        <a href="{% url 'home'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                    <hr> <!--hr para colocar una linea separadora -->
                    <p class="text-primary text-center" >Ingresar</p>
                    </div>
                </div>
            </div>

             <!--Creamos una tarjeta con imagen, tarjeta 4-->
             <div class="col-md-3 mb-3">
                <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                    <div class="card-header bg-secondary text-center ml-2">
                        <strong class="card-title text-light">Instituciones Educativas</strong>
                    </div> 
                    <img class="card-img-top" src="/static/imagen/educacion/colegios.jpg" alt="Card image cap" style="width: 100%;">
                    <div class="card-body">                       
                        <p class="card-text">Campaña de seguridad vial en las escuelas</p>
                        <a href="{% url 'home'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                    <hr> <!--hr para colocar una linea separadora -->
                    <p class="text-primary text-center" >Ingresar</p>
                    </div>
                </div>
            </div>

        </div>
        
        
    </div>
{% endblock contenido %}

