{% extends 'html/base.html' %} <!--llamamo base.html -->

{% block contenido%}
<div class="container">

    <div class="row" style="background:#383e77; ">

        <!--creamos ficha 1-->
        
        <div class="col-md-3 mb-3">
            <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                <div class="card-header bg-secondary text-center mr-2">
                    <strong class="card-title text-light">Observatorio de Movilidad</strong>
                </div> 
                <img class="card-img-top" src="/static/imagen/dashboard.jpg" alt="Card image cap" style="width: 100%;">
                <div class="card-body">                       
                    <!--<p class="card-text text-center">Observatorio de Movilidad.</p>-->
                    <a href="{% url 'dashboard'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                <hr> <!--hr para linear una ficha-->
                <p class="text-primary text-center" >Ingresar</p>
                </div>
            </div>
        </div>

        <!--creamos ficha 2-->
        <div class="col-md-3 mb-3">
            <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                <div class="card-header bg-secondary text-center mr-2">
                    <strong class="card-title text-light">Educación y Control Vial</strong>
                </div> 
                <img class="card-img-top" src="/static/imagen/educacion/vial2.png" alt="Card image cap" style="width: 100%;">
                <div class="card-body">                       
                    <!--<p class="card-text text-center">Educación vial</p>-->
                    <a href="{% url 'educacion'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                <hr> <!--hr para linear una ficha-->
                <p class="text-primary text-center" >Ingresar</p>
                </div>
            </div>
        </div>

        <!--creamos ficha 3-->
        <div class="col-md-3 mb-3">
            <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                <div class="card-header bg-secondary text-center mr-2">
                    <strong class="card-title text-light">Trámites y Requisitos OT.</strong>
                </div> 
                <img class="card-img-top" src="/static/imagen/tramites.png" alt="Card image cap" style="width: 100%;">
                <div class="card-body">                       
                    <!--<p class="card-text text-center">Trámites</p>-->
                    <a href="{% url 'tramites'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                <hr> <!--hr para linear una ficha-->
                <p class="text-primary text-center" >Ingresar</p>
                </div>
            </div>
        </div>

        <!--creamos ficha 4-->
        <div class="col-md-3 mb-3">
            <div class="card mx-auto"> <!--tamaño de la tarjeta-->
                <div class="card-header bg-secondary text-center mr-2">
                    <strong class="card-title text-light">Ubicación OT Santa Rosa</strong>
                </div> 
                <img class="card-img-top" src="/static/imagen/ubicacion.png" alt="Card image cap" style="width: 100%;">
                <div class="card-body">                       
                    <!-- <p class="card-text text-center">Ubicación del OT</p> -->
                    <a href="{% url 'ubicacion'%}" class="stretched-link"></a> <!--stretched-link colocamos la ficha como enlace-->
                <hr> <!--hr para linear una ficha-->
                <p class="text-primary text-center" >Ingresar</p>
                </div>
            </div>
        </div>
    
    </div>
       
</div>
{% endblock contenido %}
