{% extends 'html/base.html' %}
{% load static %}

<!--script y ruta del codigo js para las imagenes con efecto bonito, debe de estar en base-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/menu.js' %}"></script>

<!--llamamos bloque JS -->
{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock js %}

<!--llamamos bloque CSS -->
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<!--llamamos la ruta donde esta los esilos css -->
<link rel="stylesheet" href="{% static '/css/estilos.css' %}">
{% endblock %}


{% block contenido %}

<div class="container">   
      
     <div class="row">
          <div class="col-md-12" style="background: #383e77;">                          
               <!--codigo de calerias de fotos -->
                    <div class="galeria">
                    <a data-fancybox="gallery" href="{% static 'imagen/dashboard.jpg' %}"><img src="{% static 'imagen/dashboard.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'imagen/logo_santa_pe.png' %}"><img src="{% static 'imagen/logo_santa_pe.png' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'imagen/dashboard.jpg' %}"><img src="{% static 'imagen/dashboard.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'imagen/logo_santa_pe.png' %}"><img src="{% static 'imagen/logo_santa_pe.png' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'imagen/dashboard.jpg' %}"><img src="{% static 'imagen/dashboard.jpg' %}"></a>     
               </div>
               <br>
           </div>                                  
      </div>
</div>
          <!--script y ruta del codigo js para las imagenes con efecto bonito, podemos colocarlo en base.html tambien-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="{% static 'js/menu.js' %}"></script>
    


{% endblock %}