{% extends 'html/base.html' %} <!--llamamo base.html -->
{% load static %} <!--cargamos archiso estaticos -->
{% load humanize %} <!--cargamos los puntos miles -->

<!--cargamos estilo CSS-->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">
{% endblock %}

{% block contenido%}
<!--tabla_tarifas_motos *5-->
<div class="container">
        
    
        <div class="row" style="background: #383e77;">
            <div class="col-md-12">
                <h3 class="text-center text-white">TARIFAS MOTOCICLETAS</h3>
                <table class="mt-3 w-100">
                    <thead class="text-center" style="background: #3f83db;">
                        <tr>
                            <th>Descripcion</th>
                            <th>Valor Tránsito</th>
                            <th>Valor RUNT</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody style="background: #c4daf8;">
                        {% for tarifasMoto in datos_tarifas_moto %} <!--datos_tarifas_motos se encuentra en la views.py, variable que creamos nosotros para conectar con los datos-->
                        <tr>
                            <td>{{ tarifasMoto.descripcion_tarifa }}</td>
                            <td class="text-right">${{ tarifasMoto.valor_tarifa|intcomma }}</td>
                            <td class="text-right">${{ tarifasMoto.valor_tarifa_RUNT|intcomma }}</td>
                            <td class="text-right">${{ tarifasMoto.valor_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <div class="row" style="background: #383e77;">
        <div class="col-md-12">
                <h3 class="text-center text-white">TARIFAS CARRO</h3>
                <table class="mt-3 w-100">
                    <thead class="text-center" style="background: #3f83db;">
                        <tr>
                            <th>Descripcion</th>
                            <th>Valor Tránsito</th>
                            <th>Valor RUNT</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody style="background: #c4daf8;">
                        {% for tarifasCarro in datos_tarifas_carro %} <!--datos_tarifas_carro se    encuentra en la views.py, variable que creamos nosotros para conectar con los  datos-->
                        <tr>
                            <td>{{ tarifasCarro.descripcion_tarifa }}</td>
                            <td class="text-right">${{ tarifasCarro.valor_tarifa|intcomma }}</td>
                            <td class="text-right">${{ tarifasCarro.valor_tarifa_RUNT|intcomma }}</td>
                            <td class="text-right">${{ tarifasCarro.valor_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>   
    
</div>
{% endblock contenido %}