{% extends 'html/base.html' %}

{% block contenido %}

    <div class="container">

        <!--Creamos una tarjeta con imagen, tarjeta 1-->
        <div class="row" style="background:#383e77;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.9703881959927!2d-75.4612768260974!3d6.650592321675635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44451e6ec88841%3A0x3d6e7fb6e066ff72!2sTr%C3%A1nsito%20y%20transporte%20santa%20rosa%20de%20osos!5e0!3m2!1ses!2sco!4v1682871928251!5m2!1ses!2sco" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
        
{% endblock %}

